# Python / Virtual Environments
venv/
.venv/
env/
__pycache__/
*.pyc
*.pyo

# Node / React Native / Expo
node_modules/
.expo/
.vscode/

# Environment Variables & Secrets
.env
.env.local

# OS junk files
.DS_Store
Thumbs.db